/* adding global var colors */
/*:root {
  --v-theme-tooltip-background: #333;
  --v-theme-tooltip-color: #fff;
}
*/

h1 {
  font-size: 2rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

h2 {
  font-size: 1.5rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

h3 {
  font-size: 1rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

/*
p {
  color: black;
  font-size: 1rem;
}
*/

.coLink {
  border-bottom: 1px rgba(var(--v-theme-clcAction), 1.0) dashed;
  color: rgba(var(--v-theme-clcAction), 1.0);
  text-decoration: none;
}
