/* adding global var colors */
/*:root {
  --v-theme-tooltip-background: #333;
  --v-theme-tooltip-color: #fff;
}
*/

h1 {
  font-size: 2rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

h2 {
  font-size: 1.5rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

h3 {
  font-size: 1rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

/*
p {
  color: black;
  font-size: 1rem;
}
*/

.coLink {
  color: rgba(var(--v-theme-clcAction), 1.0);
  text-decoration: underline dotted;
  cursor: pointer;
}

.reset-icon-class {
  font-size: 20px;
  margin-top: -10px;
  margin-right: 4px;
  color: rgba(var(--v-theme-clcAction), 1.0);
}

.info-icon-class {
  font-size: 24px;
  margin-bottom: 2px;
  color: rgba(var(--v-theme-clcAction), 1.0);
}

/* these styles are for blinking the LocusZoom lead variant */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite;
}

.custom-shepherd-offset .shepherd-arrow {
  height: 30px !important; /* Make the arrow longer */
}

.custom-shepherd-offset.shepherd-element[data-popper-placement^="right"] {
  margin-left: 20px !important; /* Add more space when positioned on the right */
}

.custom-shepherd-offset.shepherd-element[data-popper-placement^="left"] {
  margin-right: 20px !important; /* Add more space when positioned on the left */
}

.custom-shepherd-offset.shepherd-element[data-popper-placement^="top"] {
  margin-bottom: 20px !important; /* Add more space when positioned on top */
}

.custom-shepherd-offset.shepherd-element[data-popper-placement^="bottom"] {
  margin-top: 20px !important; /* Add more space when positioned on bottom */
}

.shepherd-step-limited .shepherd-content {
  max-height: 240px;
  overflow-y: auto;
}

.tut-ind-l1 {
  margin-left: 1rem;
}

.tut-ind-l2 {
  margin-left: 1rem;
}

.text-content-block {
  min-width: 500px;
  max-width: 1100px;
}

a:hover {
  font-weight: bold;
}

/* lz region plot axis */
.lzrp-axis text {
  font-size: 1rem;
}
