/* adding global var colors */
/*:root {
  --v-theme-tooltip-background: #333;
  --v-theme-tooltip-color: #fff;
}
*/

h1 {
  font-size: 2rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

h2 {
  font-size: 1.5rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

h3 {
  font-size: 1rem;
  color: rgba(var(--v-theme-clcHeading), 1.0);
}

/*
p {
  color: black;
  font-size: 1rem;
}
*/

.coLink {
  border-bottom: 1px rgba(var(--v-theme-clcAction), 1.0) dashed;
  color: rgba(var(--v-theme-clcAction), 1.0);
  text-decoration: none;
  cursor: pointer;
}

.reset-icon-class {
  font-size: 20px;
  margin-top: -10px;
  margin-right: 4px;
  color: rgba(var(--v-theme-clcAction), 1.0);
}

/* these styles are for blinking the LocusZoom lead variant */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite;
}
